
/* --------------------- TOPES Released 0000.00.00 --------------------- */
/* --------------------- Published by 4m Creative --------------------- */

@charset "utf-8";
/*  
 * @ RESET CSS
 * -------------------------------
 */


html, body, div, p, span, strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6,
img, dl, dt, dd,
fieldset, form, legend, label,
table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea {margin: 0;padding: 0; border: 0 none; }

body {font-family: 'NanumSquare'; font-weight: 400; line-height: 1; font-size: 16px; }

ul, ol, li {list-style: none;}
em, address {font-style: normal;}
img {border: 0 none; font-size: 0;line-height: 0;}
sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;}

table {border-collapse: collapse; border-spacing:0; }
caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;}
th, td { vertical-align: middle;/* white-space: nowrap */}

a {color: #333; text-decoration: none; line-height: 1;}
a:hover, a:focus, a:active {text-decoration: underline;}
a:visited {color: #333;}
*, html {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}



.fp-tableCell {
    vertical-align: top!important;
}

#unicef_card {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#unicef_card .slide-wrap {
    width: 100%;
}

#unicef_card .slide1 {
    position: relative;
}

#unicef_card .swipe-box {
    width: 100vw;
    height: 100vh!important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    /* display: none; */
    transition: all ease .7s;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


#unicef_card .swipe-box.on {
    opacity: 1;

} 


@keyframes fadeout {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mouseUp {

    0% {
        opacity: 0;
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        /* transform: translateY(-30px); */
    }
}

@keyframes mouseRight {

    0% {
        opacity: 0;
        transform: translateX(0);
    }

    70% {
        opacity: 1;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
    }
}

#unicef_card .slide-img {
    width: 100%;
}

#unicef_card .swipe-box div {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}

#unicef_card .swipe-box img.icon-ver {
    width: 27px;
    margin: 0 auto 35px;
}

#unicef_card .swipe-box img.icon-hor {
    width: 114px;
    margin: 0 auto 70px;
}

#unicef_card .swipe-box img.icon-hand {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 53px;
}

#unicef_card .swipe-box img.hand-ver {
    margin-left: 21px;
    margin-top: -38px;
}

#unicef_card .swipe-box.on img.hand-ver.on {
    animation: mouseUp .7s .5s alternate;
}

#unicef_card .swipe-box img.hand-hor {
    margin-top: -45px;
}

#unicef_card .swipe-box.on img.hand-hor.on {
    animation: mouseRight .7s .5s alternate;
}

#unicef_card .swipe-box p {
    margin: 0;
    font-size: 16px;
    letter-spacing: -.03em;
    color: #fff;
    font-family: 'NanumSquare', sans-serif;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

#unicef_card .swipe-box p::before {
    content:'';
    display: block;
    width: 25px;
    height: 23px;
    background: url(../img/swipe-tip.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -15px;
    left: -25px;
}

#unicef_card .swipe-box p b {
    color: #07b5ff;
    font-weight: 700;
}

#unicef_card p {
    word-break: keep-all;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    letter-spacing: -.32px;
}

#unicef_card .s_img_wrap {
    position: relative;
    height: fit-content;
}

#unicef_card .s_img_wrap .slide-img {
    margin: 0;padding: 0;font-size: 0;line-height: 0;border: 0;
}

#unicef_card .name-tit {
    font-size: 21px;
    font-weight: 700;
}

#unicef_card .name {
    font-weight: 800;
    color: #07b5ff;
}

#unicef_card .con-wrap {
    border-top: 3px solid #07b5ff;
    margin-top: -5px;
}

#unicef_card .info {
    position: absolute; 
    bottom: 12px; 
    z-index: 21; 
    width: 100%;
}


#unicef_card .paging-num {
    background: rgba(0,0,0,.5);
    width: 50px;
    height: 20px;
    border-radius: 19px;
    padding: 3px 0;
    color: #999;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 0 auto;
}

#unicef_card .paging-num span {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
}


#unicef_card .logo {
    background: url(../img/unicef-logo.png) no-repeat center;
    background-size: contain;
    width: 87px;
    height: 11px;
    opacity: 1!important;
    position: absolute;
    top: 15px;
    left: 20px;
}

#unicef_card .txt-box {
    clear: both;
    position: relative;
    z-index: 9;
    background: #fff;
    padding: 30px 20px 42px;
    
}

#unicef_card .txt-box .txt-bg {
    color: #07b5ff;
    font-weight: 700;
    font-family: 'NanumSquare';
    background: #f0faff;
    padding: 15px;
    line-height: 1.56;
    margin: 18px 0;
    transform: skew(-0.03deg);
}

#unicef_card .btn_wrap{
    width: 100%;
    margin-top: 25px;

}

#unicef_card .btn_wrap a {
    display: block;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #07b5ff;
    text-decoration: none;
}

#unicef_card .btn_wrap a+a {
    margin-top: 10px;
}




