@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: local('☺'),
         url(../font/NanumSquareR.ttf) format('truetype');
   }
   @font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: local('☺'),
         url(../font/NanumSquareB.ttf) format('truetype');
   }
   @font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: local('☺'),
         url(../font/NanumSquareEB.ttf) format('truetype');
   }
   @font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: local('☺'),
         url(../font/NanumSquareL.ttf) format('truetype');
   }