@font-face {font-family:'__NanumGothicBold_5';font-style: normal;font-weight: 700;
	src: url(/withus/css/fonts/NanumGothicBold.woff2) format('woff2'),
	url(/withus/css/fonts/NanumGothicBold.woff) format('woff');	
}
	@font-face {
  font-family: '__NanumGothic_5';font-style: normal;font-weight: 400;
	src: url(/withus/css/fonts/NanumGothic.woff2) format('woff2'),
	url(/withus/css/fonts/NanumGothic.woff) format('woff');
}
	
	body {font-family: '__NanumGothic_5', sans-serif;}